body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.nav-container {
  background: #ffffff;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}

.nav {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.nav-icon {
  font-size: 24px;
}

.nav-cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #f09d51;
  padding: 0 5px;
  border-radius: 30%;
  color: #ffffff;
}

.landing-page {
  min-height: calc(100vh - 60px);
  background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 32px;
}

.landing-page-banner-title {
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 48px;
}

.banner-btn {
  padding: 16px 48px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
  background: #f09d51;
  color: #222;
  border: 1px solid #f09d51;
  transition: all 0.3s linear;
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: #f09d51;
}

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 96%;
  height: 100%;
  transition: all 0.3s linear;
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  overflow: scroll;
  background: #ffffff;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 24px;
  transition: all 0.3s linear;
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 24px;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 32px;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 24px;
  margin: 24px 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}

.cart-item h5 {
  margin: 8px 0;
  letter-spacing: 1.5px;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #f09d51;
  cursor: pointer;
}

.cart-footer {
  margin-top: 32px;
  letter-spacing: 1.5px;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 16px;
}

.products-container {
  padding: 64px 0;
}

.products-container-title-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 60px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}

.products {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 32px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 8px 12px;
  letter-spacing: 1.5px;
  font-weight: bold;
  transition: all 0.3s linear;
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: #ffffff;
}

.fa-shopping-cart {
  margin-right: 8px;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 192px;
  transition: all 0.3s linear;
}

.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 16px;
  letter-spacing: 1.5px;
  text-align: center;
}

.product h4 {
  margin-top: 11px;
  letter-spacing: 1.5px;
  color: #f09d51;
  text-align: center;
}

footer {
  background: #ffffff;
  position: sticky;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
